<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>About - TeachToTech</title>
	<meta name="description" content="">
	<meta name="keywords" content="">

	<!-- Favicons -->
	<link href="assets/img/TT.png" rel="icon">
	<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com" rel="preconnect">
	<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
		rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="assets/vendor/aos/aos.css" rel="stylesheet">
	<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
	<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

	<!-- Main CSS File -->
	<link href="assets/css/main.css" rel="stylesheet">

	
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body class="about-page">

	
	<div th:replace="header :: header"></div>

	<main class="main">

		<!-- Page Title -->
		<div class="page-title" data-aos="fade">
			<div class="heading">
				<div class="container">
					<div class="row d-flex justify-content-center text-center">
						<div class="col-lg-8">
							<h1>About Us<br></h1>
							<p class="mb-0">At TeachToTech, we empower students and professionals to unlock their potential and secure their dream careers. Our mission is to bridge the gap between academic knowledge and industry expectations by providing hands-on 
								training in cutting-edge technologies and essential workplace skills.</p>
						</div>
					</div>
				</div>
			</div>
			<nav class="breadcrumbs">
				<div class="container">
					<ol>
						<li><a href="/index">Home</a></li>
						<li class="current">About Us<br></li>
					</ol>
				</div>
			</nav>
		</div><!-- End Page Title -->

		<!-- About Us Section -->
		<section id="about-us" class="section about-us">

			<div class="container">

				<div class="row gy-4">

					<div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
						<img src="assets/img/about-2.jpg" class="img-fluid" alt="">
					</div>

					<div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
						<h3>Welcome to TeachToTech – Your Gateway to Professional Growth!</h3>
						<p class="fst-italic">
							At TeachToTech, we are committed to empowering individuals and businesses
							through a blend of hands-on experience,cutting-edge training programs,
							and professional website development services.
						</p>
						<ul>
							<li><i class="bi bi-check-circle"></i> <span>Comprehensive Job Placement Training: From resume building and interview preparation to developing problem-solving and communication skills, 
								we guide you every step of the way to ace your job hunt.</span></li>
							<li><i class="bi bi-check-circle"></i> <span>Industry-Relevant Courses: Stay ahead of the curve with our expertly curated programs in emerging technologies like AI, Data Science, Web Development, Cloud Computing, and more.</span></li>
							<li><i class="bi bi-check-circle"></i> <span>Real-World Projects: Work on live projects that simulate real-world challenges, giving you the confidence and experience to excel in your field.</span></li>
						</ul>
					</div>

				</div>

			</div>

		</section><!-- /About Us Section -->

		<!-- Counts Section -->
		<section id="counts" class="section counts light-background">

			<div class="container" data-aos="fade-up" data-aos-delay="100">

				<div class="row gy-4">

					<div class="col-lg-3 col-md-6">
						<div class="stats-item text-center w-100 h-100">
							<span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1"
								class="purecounter"></span>
							<p>Students</p>
						</div>
					</div><!-- End Stats Item -->

					<div class="col-lg-3 col-md-6">
						<div class="stats-item text-center w-100 h-100">
							<span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1"
								class="purecounter"></span>
							<p>Courses</p>
						</div>
					</div><!-- End Stats Item -->

					<div class="col-lg-3 col-md-6">
						<div class="stats-item text-center w-100 h-100">
							<span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1"
								class="purecounter"></span>
							<p>Events</p>
						</div>
					</div><!-- End Stats Item -->

					<div class="col-lg-3 col-md-6">
						<div class="stats-item text-center w-100 h-100">
							<span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1"
								class="purecounter"></span>
							<p>Trainers</p>
						</div>
					</div><!-- End Stats Item -->

				</div>

			</div>

		</section><!-- /Counts Section -->

		<!-- Testimonials Section -->
		<section id="testimonials" class="testimonials section">

			<!-- Section Title -->
			<div class="container section-title" data-aos="fade-up">
				<h2>Testimonials</h2>
				<p>What are they saying</p>
			</div><!-- End Section Title -->

			<div class="container" data-aos="fade-up" data-aos-delay="100">

				<div class="swiper init-swiper">
					<script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 2,
                  "spaceBetween": 20
                }
              }
            }
          </script>
					<div class="swiper-wrapper">

						<div class="swiper-slide">
							<div class="testimonial-wrap">
								<div class="testimonial-item">
									<img src="assets/img/testimonials/CEO.jpg" class="testimonial-img"
										alt="">
									<h3>Rajni Bajpai</h3>
									<h4>Ceo &amp; Founder</h4>
									<div class="stars">
										<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
											class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
											class="bi bi-star-fill"></i>
									</div>
									<p>
										<i class="bi bi-quote quote-icon-left"></i>
										<span>Welcome to TeachToTech,

In today’s rapidly evolving world, staying ahead means continuously learning, adapting, and embracing change. At TeachToTech, our goal is simple—to equip you with the tools, knowledge, and confidence to succeed in your career and thrive in an ever-changing job market.

We understand the challenges of bridging the gap between education and industry. That’s why we’ve built a platform that not only focuses on teaching the latest technologies but also emphasizes real-world application and job-ready skills.

Our vision is to create opportunities for individuals from all walks of life, empowering them to unlock their potential and achieve their dreams. Whether you’re a student preparing for placements, a professional looking to upskill, or someone exploring a career shift, we’re here to guide and support you every step of the way.

Thank you for choosing TeachToTech to be part of your journey. Let’s build your future together!

Warm regards,
Rajni Bajpai
CEO, TeachToTech</span>
										<i class="bi bi-quote quote-icon-right"></i>
									</p>
								</div>
							</div>
						</div><!-- End testimonial item -->

						<div class="swiper-slide">
							<div class="testimonial-wrap">
								<div class="testimonial-item">
									<img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img"
										alt="">
									<h3>Sara Wilsson</h3>
									<h4>Designer</h4>
									<div class="stars">
										<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
											class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
											class="bi bi-star-fill"></i>
									</div>
									<p>
										<i class="bi bi-quote quote-icon-left"></i>
										<span>Export tempor illum tamen malis malis eram quae irure esse labore quem
											cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua
											noster fugiat irure amet legam anim culpa.</span>
										<i class="bi bi-quote quote-icon-right"></i>
									</p>
								</div>
							</div>
						</div><!-- End testimonial item -->

						<div class="swiper-slide">
							<div class="testimonial-wrap">
								<div class="testimonial-item">
									<img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img"
										alt="">
									<h3>Jena Karlis</h3>
									<h4>Store Owner</h4>
									<div class="stars">
										<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
											class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
											class="bi bi-star-fill"></i>
									</div>
									<p>
										<i class="bi bi-quote quote-icon-left"></i>
										<span>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla
											quem veniam duis minim tempor labore quem eram duis noster aute amet eram
											fore quis sint minim.</span>
										<i class="bi bi-quote quote-icon-right"></i>
									</p>
								</div>
							</div>
						</div><!-- End testimonial item -->

						<div class="swiper-slide">
							<div class="testimonial-wrap">
								<div class="testimonial-item">
									<img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img"
										alt="">
									<h3>Matt Brandon</h3>
									<h4>Freelancer</h4>
									<div class="stars">
										<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
											class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
											class="bi bi-star-fill"></i>
									</div>
									<p>
										<i class="bi bi-quote quote-icon-left"></i>
										<span>Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export
											minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt
											elit fore quem dolore labore illum veniam.</span>
										<i class="bi bi-quote quote-icon-right"></i>
									</p>
								</div>
							</div>
						</div><!-- End testimonial item -->

						<div class="swiper-slide">
							<div class="testimonial-wrap">
								<div class="testimonial-item">
									<img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img"
										alt="">
									<h3>John Larson</h3>
									<h4>Entrepreneur</h4>
									<div class="stars">
										<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
											class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
											class="bi bi-star-fill"></i>
									</div>
									<p>
										<i class="bi bi-quote quote-icon-left"></i>
										<span>Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam
											tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum
											fugiat legam esse veniam culpa fore nisi cillum quid.</span>
										<i class="bi bi-quote quote-icon-right"></i>
									</p>
								</div>
							</div>
						</div><!-- End testimonial item -->

					</div>
					<div class="swiper-pagination"></div>
				</div>

			</div>

		</section><!-- /Testimonials Section -->

	</main>
	<div th:replace="footer :: footer"></div>



	<!-- Scroll Top -->
	<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<!-- Preloader -->
	<div id="preloader"></div>

	<!-- Vendor JS Files -->
	<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendor/php-email-form/validate.js"></script>
	<script src="assets/vendor/aos/aos.js"></script>
	<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
	<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
	<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

	<!-- Main JS File -->
	<script src="assets/js/main.js"></script>

	<!-- <script src="https://code.jquery.com/jquery-3.3.1.js"
		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
		</script>
	 -->

</body>
<script>
    $('#header_content').load('header.html');
  
    </script>

</html>