<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <a href="/index" class="logo d-flex align-items-center me-auto">
        <img src="assets/img/TT.png" alt="Company Logo">
        <h1 class="sitename">TeachToTech</h1>
      </a>
  
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/index">Home<br></a></li>
          <li id="loginButtons">
            <a class="btn-getstarted" href="/api/users/login">Login</a>
            <a class="btn-getstarted" href="/api/users/register">Register</a>
          </li>
          <li id="logoutContainer" style="display: none;">
            <a id="logoutButton" href="/api/users/logout" class="btn-logout">Logout</a>
          </li>
  
          <li id="userGreeting" style="display: none;">
            <span class="username">Hello, <span id="usernameText"></span></span>
          </li>
          
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
    </div>
  </header>
  <script th:src="@{/assets/js/main.js}"></script>